$color-dark :black;
$color-orange:#faa301fb;
$color-green:#033503fb;
$color-lightgreen:#0a7a0afb;
$color-text-white:whitesmoke;
$color-blue:rgb(18, 113, 168);
$color-gray:rgb(115, 128, 115);
$color-red:rgba(170, 16, 16, 0.973);
$color-lightred:rgb(243, 13, 13);