* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Times New Roman",sans-serif;
  font-weight: 400;
  font-size: 25px; }

/* -----------------------------  */
/*            header              */
/* -----------------------------  */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url("img/logo.png");
  background-blend-mode: screen;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 76%);
  width: 100%;
  height: 80vh; }
  .header ul {
    list-style-type: none;
    padding: 0 3%;
    direction: rtl; }
    .header ul li {
      display: inline-block;
      margin-top: 30px; }
      .header ul li a {
        text-decoration: none;
        color: whitesmoke;
        padding: 10px 30px 10px 30px;
        background-color: #faa301fb;
        border: 1px solid whitesmoke;
        border-radius: 25px;
        margin-left: 5px; }
      .header ul li a:hover {
        color: #faa301fb;
        border: 1px solid #faa301fb;
        background-color: whitesmoke;
        transition: background-color 0.5s; }
  .header .logo {
    float: left; }
    .header .logo img {
      border-radius: 50%;
      width: 10vm;
      height: 10vh;
      margin-left: 10px;
      margin-top: -2vh;
      border: 5px solid #faa301fb; }
  .header .heading {
    text-align: center;
    border-radius: 20px;
    top: 50%;
    transform: translate(0, 200%);
    background-image: linear-gradient(to right, rgba(255, 218, 149, 0.984314), rgba(199, 130, 1, 0.984314));
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2rem; }
    .header .heading:hover {
      transform: skewX(2deg) scaleY(15deg); }

/* -----------------------------  */
/*            section-1             */
/* -----------------------------  */
.container {
  background-image: linear-gradient(to right, rgba(18, 113, 168, 0.6), rgba(18, 113, 168, 0.2));
  padding-top: 6rem;
  margin-top: -6rem;
  padding-right: 2%;
  padding-left: 2%; }
  .container .span-1-of-4 {
    background-color: #faa301fb;
    color: whitesmoke;
    padding: 4%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center; }
    .container .span-1-of-4 img {
      width: 40%;
      height: 40%;
      margin-bottom: 5px;
      /*border-bottom: 1px solid whitesmoke;*/ }
    .container .span-1-of-4 .student {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 25px; }
    .container .span-1-of-4 .see-link {
      color: #faa301fb;
      padding: 10px 80px 10px 80px;
      border-radius: 10px;
      background-color: whitesmoke;
      text-decoration: none; }
    .container .span-1-of-4 .see-link:hover {
      color: whitesmoke;
      background-color: #faa301fb;
      border: 1px solid whitesmoke;
      transition: color 0.5s,background-color 0.5s, border-bottom-color 0.5s; }
  .container .span-1-of-4:hover {
    background-color: rgba(98, 64, 0, 0.984314);
    transition: background-color 0.3s; }

/* -----------------------------  */
/*    section-2 contuct-form      */
/* -----------------------------  */
.contuct-form {
  background-image: linear-gradient(to right top, #1271a8, #faa301fb);
  height: 100vh;
  direction: rtl;
  position: relative; }
  .contuct-form .message {
    color: whitesmoke;
    font-size: 30px;
    display: block;
    text-align: center;
    padding-top: 10px; }
  .contuct-form .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 2rem; }
    .contuct-form .form input {
      display: block;
      width: 100%;
      border: none;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.4);
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      color: whitesmoke;
      font-size: 0.8rem;
      direction: rtl; }
      .contuct-form .form input.confirm {
        background-color: #0a7a0afb; }
        .contuct-form .form input.confirm:hover {
          background-color: #033503fb;
          cursor: pointer; }
    .contuct-form .form textarea {
      display: block;
      width: 100%;
      border: none;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.4);
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      color: whitesmoke;
      font-size: 0.8rem;
      direction: rtl; }
    .contuct-form .form input::placeholder {
      color: whitesmoke; }

/* -----------------------------  */
/*    footer social-media      */
/* -----------------------------  */
footer {
  width: 100%;
  background-color: black;
  direction: rtl;
  float: right;
  padding-top: 40px;
  text-align: center; }
  footer ul {
    list-style: none; }
    footer ul li {
      display: inline-block; }
      footer ul li img {
        width: 6vm;
        height: 6vh;
        border-radius: 50%;
        margin-left: 10px;
        margin-top: -8px; }
      footer ul li img:hover {
        opacity: 0.7; }
  footer .privecy a {
    color: whitesmoke;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.8rem; }
    footer .privecy a:hover {
      color: rgba(18, 113, 168, 0.6); }
  footer .describe {
    color: whitesmoke;
    font-size: 0.8rem; }
    footer .describe img {
      width: 20px;
      height: 20px; }
  footer .social-media {
    float: left; }

.user-container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("img/users.png");
  background-size: cover;
  background-position: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif; }
  .user-container .user-header {
    padding: 30px 40px; }
    .user-container .user-header ul {
      list-style: none;
      float: right;
      direction: rtl; }
      .user-container .user-header ul li {
        display: inline-block;
        padding: 5px; }
        .user-container .user-header ul li a {
          color: whitesmoke;
          background-color: #faa301fb;
          text-decoration: none;
          padding: 10px 15px;
          border-radius: 10px; }
          .user-container .user-header ul li a:hover {
            background-color: rgba(199, 130, 1, 0.984314); }
          .user-container .user-header ul li a.first-element {
            background-color: #033503fb; }
            .user-container .user-header ul li a.first-element:hover {
              background-color: rgba(6, 101, 6, 0.984314); }
  .user-container .user-label {
    background-color: rgba(115, 128, 115, 0.5);
    border-radius: 20px;
    text-align: center;
    width: 50%;
    padding: 30px 20px;
    transform: translateY(150%);
    margin: 0 auto;
    border: 5px solid whitesmoke; }
    .user-container .user-label:hover {
      background-color: rgba(115, 128, 115, 0.9); }
    .user-container .user-label h1 {
      color: whitesmoke; }

.table-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("img/users.png");
  height: 100vh;
  padding-top: 2rem;
  float: right;
  direction: rtl;
  width: 100%;
  color: blanchedalmond;
  display: block; }
  .table-container th {
    background-color: rgba(250, 163, 1, 0.8);
    color: black;
    border: 3px solid rgba(250, 163, 1, 0.8);
    padding: 10px; }
  .table-container tr {
    background-color: rgba(115, 128, 115, 0.8); }
    .table-container tr:hover {
      background-color: rgba(115, 128, 115, 0.5); }
  .table-container .table {
    display: flex;
    justify-content: center; }
  .table-container .table, .table-container td, .table-container tr, .table-container th {
    padding: 10px;
    text-align: center; }
  .table-container a {
    text-decoration: none;
    color: whitesmoke;
    margin-left: 4px;
    margin-right: 2px;
    padding: 10px 5px;
    font-size: 16px;
    display: inline-block;
    border-radius: 5px; }
    .table-container a.edit {
      background-color: #0a7a0afb; }
      .table-container a.edit:hover {
        background-color: #033503fb; }
    .table-container a.delete {
      background-color: #f30d0d; }
      .table-container a.delete:hover {
        background-color: rgba(170, 16, 16, 0.973); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.login-container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("img/login.png");
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative; }
  .login-container .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 2rem;
    background-image: linear-gradient(rgba(250, 163, 1, 0.6), rgba(250, 163, 1, 0.9));
    border-radius: 10px; }
  .login-container input {
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgba(115, 128, 115, 0.7);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    color: whitesmoke;
    font-size: 0.8rem;
    direction: rtl; }
    .login-container input::placeholder {
      color: whitesmoke; }
    .login-container input.confirm {
      background-color: #033503fb; }
      .login-container input.confirm:hover {
        background-color: #0a7a0afb;
        cursor: pointer; }
    .login-container input.reset {
      background-color: rgba(170, 16, 16, 0.973); }
      .login-container input.reset:hover {
        background-color: #f30d0d;
        cursor: pointer; }
